@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Baloo+Bhaijaan+2:wght@600&family=Roboto:ital,wght@1,900&display=swap');

:root{
    --main-bg-color:brown;
    --font1:'Baloo bhaina 2', cursive;
    --font2:'Roboto', sans-serif;
}
.center{
    text-align:center;
}

.font1{
    font-size:20px;
    font-family:var(--font1)
}
.font2{
    font-family:var(--font2)
}


.max-width-1{
    width:80vw;
}
.max-width-2{
    width:60vw;
}
.m-auto{
    margin:auto;
}
.btn{
    padding:3px 10px;
    padding-top:3px;
    border:3px solid black;
    border-radius:5px;
font-family:var(--font2);
font-size:16px;
cursor:pointer;
transition:all 0.3s ease-in-out;
}
.btn:hover{
    color:white;
    background:var(--main-bg-color);
}
.form-input{

    padding:4px 3px;
    font-size: 16px;
    margin:0 5px;
    border:3px solid black;
    border-radius:10px;
    font-family:var(--font1);
}
.my-2{
    margin-top:12px;
    margin-bottom:12px;
}
.form-box input,textarea{
    width:52vw;
    margin:5px ;
    padding:10px 6px;
    font-size:18px;
    font-family:var(--font2);
    border:2px solid orange;
    
}
.mx-1{
    margin-left:23px;
    margin-right:23px;
}